@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body,
html {
  overflow-x: hidden !important;
}

body {
  font-family: DM Sans;
  color: var(--primary-txt-color);
}

@font-face {
  font-family: "SangBleu Sunrise";
  src: url(../assets/text/SangBleu\ Sunrise.ttf);
}

:root {
  --primary-heading-color: #18212d;
  --primary-txt-color: #717175;
  --primary-bg-color: #eae4ea;
  --secondary-bg-color: #aa6aaa;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  display: inline-block;
}

ul {
  margin: 0px !important;
  padding: 0px !important;
}

.title1 {
  font-size: 54px;
}

.title2 {
  font-size: 50px;
}

.btn-primary {
  padding: 16px 14px;
  background-color: #aa6aaa;
  color: white;
  border: none;
}

.btn-secondary {
  padding: 16px 14px;
  border: none;
}

.btn-primary:hover {
  transform: scale(1.05);
  background-color: #bc41bc;
}

.footer-heading,
.title1,
.title2,
.title3 {
  font-family: SangBleu Sunrise;
  color: var(--primary-heading-color);
}

figure {
  margin: 0px;
}

/* Header Section */

.header-section {
  padding: 15px 0;
}

.nav-container {
  max-width: 1428px;
}

.offcanvas {
  flex-direction: row;
}

.nav-logo {
  max-width: 224px;
  position: absolute;
  left: 52px;
  top: 0;
}

.navbar-brand {
  width: 100%;
}

.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-wrapper {
  position: relative;
  flex-grow: 2;
  display: flex;
  font-family: DM Sans;
}

.nav-link {
  margin-left: 45px;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: var(--primary-heading-color);
  transition: width 0.3s linear;
}

.nav-link:hover:after {
  width: 20%;
}

.nav-btn {
  margin-left: 33px;
}

.nav-btn > a {
  color: var(--primary-heading-color);
  background-color: var(--primary-bg-color);
}

.nav-btn > a:hover {
  background-color: var(--secondary-bg-color);
}

.nav-link {
  color: var(--primary-heading-color);
}

.nav-item {
  height: fit-content;
}

/* Banner Section */

.banner-section {
  padding: 0px 15px 80px;
}

.banner-container {
  max-width: 1170px;
}

.banner-wrapper {
  background: url(../assets/Banner-img.png) center/cover no-repeat;
  border-radius: 20px;
  padding-top: 70px;
}

.banner-section h1 {
  text-align: center;
  max-width: 984px;
}

.banner-section p {
  max-width: 817px;
  margin: 0 auto;
  text-align: center;
  margin-top: 22px;
  color: #717175;
  font-family: DM Sans;
}
.small-img {
  max-width: 1140px;
  margin: 0 auto;
  padding: 13px 13px 0;
  border: 2px solid white;
  border-radius: 24px 24px 0 0;
}
.small-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px 13px 0 0;
}
.banner-btn {
  text-align: center;
  margin-bottom: 36px;
  margin-top: 30px;
}
.banner-btn > .btn {
  padding: 20px 24px;
}

/* potential of your property section */
.potential-property-section {
  padding-bottom: 60px;
}

.potential-property-container {
  max-width: 1105px;
}

.potential-property-div1 > .title2 {
  max-width: 513px;
  margin-top: 47px;
  margin-bottom: 82px;
}

.potential-property-img1 {
  max-width: 475px;
  border-radius: 14px;
}

.potential-property-img1 > img {
  width: 100%;
  object-fit: contain;
  border-radius: 14px;
}

.potential-property-img2 {
  max-width: 440px;
  border-radius: 14px;
}

.potential-property-img2 > img {
  width: 100%;
  object-fit: contain;
  border-radius: 14px;
}

.potential-property-div2 > p {
  max-width: 499px;
  margin-top: 72px;
}

.potential-property-section .banner-btn {
  text-align: start;
  margin-top: 76px;
  margin-bottom: 0px;
}

/* card section */
.card-section {
  background: linear-gradient(
    to bottom,
    rgba(207, 198, 211, 1),
    rgba(207, 198, 211, 0.8),
    rgba(207, 198, 211, 0.5)
  );
  padding-block: 100px;
}

.card-container {
  max-width: 1500px;
}

.card-section .title2 {
  max-width: 834px;
  text-align: center;
  margin: 0 auto 47px;
}

.card-img1 {
  height: 356px;
  border-radius: 10px;
}

.card-img1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card {
  height: 356px;
  background-color: #eae4ea;
  padding: 57px 29px 30px 28px;
  border: none;
  border-radius: 10px;
}

.title3 {
  color: var(--primary-heading-color);
  font-size: 28px;
}

.card > p {
  color: var(--primary-txt-color);
  margin-block: 30px 55px;
}

.card > a {
  color: var(--primary-heading-color);
}

.card2 {
  background-color: var(--secondary-bg-color);
}

.card2 > h3,
.card2 > p,
.card2 > a {
  color: white;
}

.contact-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.contact-link > img {
  max-width: 12.5px;
  object-fit: contain;
}

.contact-link:hover {
  transform: scale(1.02);
  font-weight: 600;
}

/* Testimonial Section */
.testimonial-section {
  padding-top: 100px;
  position: relative;
}

.testimonial-container {
  max-width: 1147px;
  margin: 0 auto;
}

.testimonial {
  color: var(--primary-heading-color);
  padding: 10px 18px;
  border: 1px solid #efeeed;
  margin: 0 auto;
  max-width: 127px;
}

.testimonial-section .title2 {
  margin-block: 25px 37px;
  text-align: center;
}

.testimonial-items {
  overflow: hidden;
}

.testimonial-img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  transform: scale(0.5);
  filter: grayscale(1);
  transition: all 0.3s linear;
}

.testimonial-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testimonial-items.slick-center .testimonial-img {
  transform: scale(1);
  filter: grayscale(0);
}

.testimonial-items.sl-next .testimonial-img,
.testimonial-items.sl-prev .testimonial-img {
  transform: scale(0.8);
  filter: grayscale(0.7);
}

.testimonial-cntn-items {
  text-align: center;
}

.testimonial-cntn-items > p {
  max-width: 786px;
  margin: 0 auto;
}

.name {
  color: var(--secondary-bg-color);
  font-size: 14px;
  font-family: SangBleu Sunrise;
  margin: 30px auto 5px !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  transform: translateY(-50%) scale(1.05);
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  font-size: 30px;
  color: #c4c4c4;
}

.swiper-button-prev::before {
  content: "‹";
}

.swiper-button-next::before {
  content: "›";
}

.swiper-button-prev:active,
.swiper-button-next:active {
  background-color: var(--secondary-bg-color);
  color: white;
}

.swiper-button-prev:active::before,
.swiper-button-next:active::before {
  color: white;
}

/* get in touch section */

.get-in-touch {
  width: 945px;
  padding: 38px 35px 39px;
  background-color: #8a737d;
  border-radius: 10px;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  position: absolute;
}

.get-in-touch > h2 {
  font-size: 50px;
  color: #ffffff;
  text-transform: capitalize;
  font-family: SangBleu Sunrise;
  margin-bottom: 0px;
}

.blank-btn {
  background-color: #ffffff;
  color: var(--primary-heading-color);
  border-radius: 30px;
  padding: 17px 35px;
  text-transform: capitalize;
}

.blank-btn:hover {
  background-color: var(--secondary-bg-color);
  color: white;
}

/* Footer Section */
.footer-section {
  background-color: var(--primary-heading-color);
  padding-block: 128px 16px;
  border-radius: 20px 20px 0 0;
  position: relative;
  margin-top: 152px;
}

.footer-logo > a {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.footer-img {
  max-width: 81px;
  object-fit: contain;
}

.footer-caption {
  max-width: 195px;
  object-fit: contain;
}

.footer-heading {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
}

.footer-links > a {
  color: white;
  text-decoration: none;
}

.footer-links {
  margin-bottom: 24px;
}

.footer-links > a:hover {
  font-weight: bold;
}

.footer-border {
  display: inline-block;
  background-color: white;
  height: 1px;
  width: 52px;
  margin-block: 16px 32px;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.footer-icons > li > a {
  width: 40px;
  height: 40px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  padding: 13px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons > li > a:hover {
  transform: scale(1.05);
}

input[type="search"] {
  background-color: transparent;
  border: 1px solid white;
}

input::placeholder {
  color: white !important;
  opacity: 1;
}

.form {
  margin-bottom: 25px;
}

.footer-btn {
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  padding: 10px;
  border: none;
}

.footer-btn:hover {
  background-color: #bc41bc;
}

hr {
  color: white;
  margin-block: 40px 17px;
}

.copyright {
  text-align: center;
  color: white;
}

.copyright > a {
  color: white;
}

.copyright > a:hover {
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  /* Header Section */
  .nav-link {
    margin-left: 0px;
  }

  .nav-btn {
    margin-left: 0px;
    text-align: center;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    margin-left: 0px !important;
  }

  .offcanvas {
    flex-direction: column;
  }

  .navbar-toggler {
    border: none;
    outline: none;
  }

  .nav-btn {
    margin-top: 8px;
  }

  .btn-close {
    margin-block: 20px;
  }

  /* Banner Section */
  .banner-wrapper {
    padding-top: 115px;
  }

  .title1 {
    font-size: 45px;
  }

  /* potential of the property section */

  .potential-property-div1 > .title2 {
    margin-top: 0px;
  }

  .potential-property-div1,
  .potential-property-div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title2 {
    font-size: 40px;
  }

  .potential-property-div2 > p {
    margin-top: 50px;
  }

  .title2,
  .potential-property-div2 > p {
    text-align: center;
  }

  .potential-property-div2 {
    padding-top: 50px;
  }

  .potential-property-div2 .banner-btn {
    margin-top: 30px;
  }

  .get-in-touch {
    width: 700px;
    padding: 30px 40px;
  }

  .get-in-touch > img {
    display: none;
  }

  .get-in-touch > h2 {
    font-size: 40px;
  }
  .blank-btn {
    background-color: #ffffff;
    color: #18212d;
    border-radius: 30px;
    padding: 17px 35px;
  }

  /* footer section */
  .footer-div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-div > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-icons{
    flex-direction: row !important;
  }

  .footer-heading4 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  /* Header Section */

  .nav-logo {
    max-width: 125px;
    left: 20px;
  }

  /* Banner Section */
  .banner-wrapper {
    padding-top: 75px;
  }

  .title1 {
    font-size: 35px;
  }

  /* potential of your property section */

  .title2 {
    font-size: 30px;
  }

  .get-in-touch {
    width: 500px;
    padding: 25px;
  }
  .get-in-touch > h2 {
    font-size: 28px;
  }

  /* card section */

  .card-img1 {
    margin-bottom: 20px;
  }

  .title3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  /* Banner Section */
  .banner-section p,
  .potential-property-div2 > p {
    font-size: 12px;
  }

  .banner-btn > a {
    font-size: 12px;
  }

  /* potential of your property section */

  .potential-property-div1 > h2 {
    max-width: 513px;
    margin-bottom: 25px;
  }

  .card > p {
    font-size: 14px;
  }

  .contact-link {
    font-size: 12px;
  }

  .get-in-touch {
    width: 350px;
    padding: 10px;
    min-height: 90px;
    top: -55px;
  }
  .get-in-touch > h2 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .blank-btn {
    border-radius: 30px;
    padding: 12px 15px;
    font-size: 12px;
  }

  .footer-section > div > div {
    align-items: center;
  }

  .footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-div > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-heading {
    margin-top: 50px;
  }

  .footer-links {
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  .card-section {
    padding-block: 50px;
  }

  .card {
    height: 300px;
    padding: 30px;
  }

  .testimonial {
    font-size: 12px;
    padding: 4px 8px;
    max-width: 87px;
  }

  .testimonial-section {
    padding-top: 50px;
  }

  .testimonial-cntn-items > p {
    font-size: 12px;
  }

  .get-in-touch {
    width: 310px;
    padding: 10px;
    min-height: 90px;
    top: -55px;
  }

  .copyright {
    font-size: 12px;
  }
}
